*{
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    font-weight: 600;
}

header a{
    padding: 20px;
    float: left;
    margin-left: 5%;
    color: black;
    font-weight: 600;
    transition: all 0.3s linear 0s;
}

header a:hover{
    background: #CB356B;
    color: white;
}

.login{
    text-decoration: none;
    float: right;
    margin-right: 5%;
    margin-left: 0%;
}

header{
    background: #E9E4F0;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

.com-logo{
    width: 50px;
}

.nav-link{
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: black !important;
    transition: all 0.3s linear 0s;
    background-color: white !important;
    width: 100%;
}

.nav-link:hover{
    color: #D66D75 !important;
}

#navigator{
    width: 100%;
    height: 70px;
    background-color: white !important;
    position: fixed;
    top: 65px;
    z-index: 9999;
}

#hero-image{
    margin-top: 135px;
    background-image: url(img/hero-image.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 135px);
    position: relative;
}

.hero-caption{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    text-shadow: 2px 2px 2px #000;
}

.hero-caption h1{
    font-size: 50px;
    text-transform: uppercase;
}

.hero-caption button{
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 1px solid pink;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.hero-caption button:hover{
    background-color: pink;
    border: 1px solid white;
    color: white;
}

.model-promo{
    position: relative;
}

.model-img{
    position: relative;
    opacity: 1;
    transition: all 0.3s ease-in 0s;
}

.shop-now{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in 0s;
}

.model-img:hover{
    opacity: 0.5;
    filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.img-box:hover .shop-now{
    opacity: 1;
    top: 50%;
}

.product-img-box img{
    width: 80%;
}

.product-img-box-caption{
    margin-left: 25px;
    text-align: left;
}

.product-img-box-caption h6 {
    margin-top: 20px;
    font-size: 20px;
}

.product-img-box-caption h5 {
    margin-top: 20px;
    font-size: 28px;
}

.latest-img img{
    width: 64px;
}

.insta-feed ul li img{
    
    width: 48px;
}

.insta-feed ul li{
    float: left;
}

.section-padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-padding h2{
    padding-bottom: 50px;
}

#men{
    background-image: linear-gradient(to right, #B24592, #F15F79);
}

#footer{
    color: white;
    padding-top: 50px;
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
    height: calc(100vh - 135px);
}

.insta-feed ul{
    list-style: none;
}

.insta-feed ul li{
    margin-right: 10px;
}

.social-items a{
    margin-right: 10px;
}
footer p{
    margin-top: 50px;
}

.newsletter input, .newsletter button{
    padding: 5px;
    border: 1px solid white;
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
    color: white;
    outline: none;
}

.newsletter input{
    width: 70%;
}

.newsletter button{
    width: 20%;
}

.newsletter input::placeholder{
    color: white;
}

#latest .media{
    margin-bottom: 10px;
}

.product-box{
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    padding: 5px;
}

.product-box:hover{
    border-radius: 1px solid black;
    border-radius: 20px;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 0px #000;
}

.vertical-img img{
    width: 100%;
    height: 400px;
    margin: 10px;
}

.horizontal-img img{
    width: 100%;
    height: 300px;
    margin: 10px;
}

.outline-img img{
    margin: 10px;
    margin-left: 0px;
    width: 100%;
    height: 720px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    header a{
        font-size: 10px;
        padding: 15px;
    }
    
    .vertical-img img{
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
    
    .horizontal-img img{
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
    
    .outline-img img{
        margin: 10px auto;
        width: 93%;
        height: auto;
    }

    .product-box{
        margin: 20px auto;
    }

    #footer{
        height: calc(100vh - 100px);
        width: 100%;
    }
    
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #footer{
        height: calc(100vh - 300px);
        width: 100%;
    }
  }

